[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/song/Desktop/steam.desktop]
row=4
col=0

[/home/song/Desktop/Todo]
row=2
col=0

[3EC6E167C6E1203F]
row=1
col=0

[44BACAB9BACAA730]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=7
col=0

[/home/song]
row=8
col=0

