[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[CA30BB8F30BB80CD]
row=1
col=0

[6A08DB6B08DB34B3]
row=2
col=0

[44BACAB9BACAA730]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=7
col=0

[/home/song]
row=8
col=0

