[submodule "vim/.vim/bundle/rust.vim"]
	path = vim/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/bundle/ack.vim"]
	path = vim/.vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/bundle/vim-yankstack"]
	path = vim/.vim/bundle/vim-yankstack
	url = git@github.com:maxbrunsfeld/vim-yankstack.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
