XTerm.termName: xterm-256color
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.vt100.saveLines: 4096

XTerm.vt100.faceName:  IBM Plex Mono:size=14:antialias=true
XTerm.vt100.font: IBMPlexMono-Regular.ttf

*foreground: rgb:b2/b2/b2
*background: rgb:08/08/08
