
XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.faceName: Source Code Pro:size=14:antialias=true
XTerm.vt100.reverseVideo: true

*foreground: rgb:b2/b2/b2
*background: rgb:08/08/08

